<div>
  <div>
    <div>
      <h1>Vytvoř usera</h1>
      <form (ngSubmit)="create()">
        <input minlength="5" #idknazevRE="ngModel" type="text" [(ngModel)]="username">
        <button>Submit</button>
      </form>
      <div *ngIf="idknazevRE.invalid && idknazevRE.touched">
        <span *ngIf="idknazevRE.errors.idknazevRE">
          {{idknazevRE.errors.minlength.requiredLength}}
        </span>
        <span *ngIf="idknazevRE.errors.maxlength">{{idknazevRE.errors.maxlength}}
        </span>
        <span *ngIf="idknazevRE.errors.required">
          Potřeba jméno
        </span>
      </div>
    </div>
  </div>
</div>
